form {
    width: 706px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;

    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.error {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.error:focus {
  color: #495057;
  background-color: #fff;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.inline{
    display: inline-block;
    vertical-align: middle;
}

img{
    width: 300px;
    height: 300px;
}